<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>My home page</title>
        <link rel="stylesheet" th:href="my_home.css">
    </head>

    <body>

        <div align="center">

            <h1 class="main-text">It is my home page!</h1>

            <hr>
            <a th:href="@{/additionPage}" class="link-text">add student in table</a><br>

            <table border="1" class="main-table">

                <thead>
                    <tr>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Birt_day</th>
                        <th>Birth_month</th>
                        <th>Birth_year</th>
                        <th>Group</th>
                        <th>Faculty</th>
                        <th>Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="student: ${talabaObj}">
                        <td th:text="${student.lastname}"></td>
                        <td th:text="${student.firstname}"></td>
                        <td th:text="${student.days}"></td>
                        <td th:text="${student.months}"></td>
                        <td th:text="${student.years}"></td>
                        <td th:text="${student.groups}"></td>
                        <td th:text="${student.faculty}"></td>
                        <td th:text="${student.address}"></td>

                        <td>
                            <a th:href="@{/updateStudent/{ids} (ids = ${student.id})}">Update</a>
                            <a th:href="@{/deleteStudent/{ids} (ids = ${student.id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </body>
</html>